// -----Position------

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

//------ Floated Elements-------

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// ------Z-index register------

%z-1 {
  z-index: 1;
}

%z-2 {
  z-index: 2;
}

%z-3 {
  z-index: 3;
}

%z-4 {
  z-index: 4;
}

%z-5 {
  z-index: 5;
}

// ------Display Values------

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// -----Aligning Elements------

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.table{
  display: table;
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
}

.center-block{
  margin: 0 auto;
}

//---background color----

.bg-gray{
  &.bg-gray{
    background-color: $transparentGray;
  }
}

.bg-black{
  &.bg-black{
    background-color: $black;
  }
}

//----text color---
.text-white{
  &.text-white{
    color: $white;
  }
}