// -----Position------

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

//------ Floated Elements-------

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// ------Display Values------

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// -----Aligning Elements------

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}