
header{
  width: 100%;
  @extend %z-5;
  border-bottom: 1px solid $iron;
  min-height: 9rem;
  padding-top: 2rem;


  .h1,
  #navigation,
  #social{
    outline: 1px solid red;
  }

  #navigation li{
    font-family: georgia, palatino;
    margin: 1.3rem 5rem 1.3rem 0;
    position: relative;
  }

  #navigation li:last-child{
    margin-right: 0;
  }

  #navigation li:nth-child(n+1):nth-child(-n+4)::after{
    display: block;
    content: ' ';
    background-color: $white;
    height: 5px;
    width: 5px;
    position: absolute;
    right: -2.8rem;
    top: 40%;
  }

  #navigation li>a::after,
  #navigation li>a::before{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white;
    position: absolute;
  }

  #social{
    width: 11rem;
  }

  #social a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    vertical-align: middle;
  }

  #social li{
    margin: 1rem 0.5rem 1.1rem 0;
  }

}