// ----Colors---

  //--green--
$green: #517e03;

$white: #ffffff;
$transparentWhite: rgba(255,255,255,0.4); //border
$transparentGray: rgba(26,26,26,0.6);//for header bg
$black: #000000;
$smog: rgba(0, 0, 0, 0.5);
$iron: #b0b0b0;//border header
$tintGray: #353535;//paragraphs color


$textWhite: $white;